MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<project_name>?appName=Cluster0
JWT_SECRET=<generated_secret>
PORT=3001
CLIENT_ORIGIN=http://localhost:5173

# Copyright (c) 2026 Zac White. All Rights Reserved.